---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheNewsGrid from "@widgets/news/TheNewsGrid.vue";
import TheSeo from "@widgets/seo/TheSeo.vue";
import {http} from "../../app/utils/http";

let load = false
const news = await http({url: '/api/pages/news'})
load = true
---

<Layout title={news.title}>
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: news.title}]}/>
                        <h1 class="text-36">{news.title}</h1>
                    </div>
                    <TheNewsGrid data={news.list} client:load/>
                </div>
            </section>
            <TheSeo data={news.seo} client:load/>
    )}
</Layout>
