---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import SocialsBlock from "@progresses/SocialsBlock.vue";
import TheSeo from "@widgets/seo/TheSeo.vue";
import TheReviews from "@widgets/reviews/TheReviews.vue";
import TheGallery from "@widgets/gallery/TheGallery.vue";
import TheTeam from "@widgets/team/TheTeam.vue";
import AppDescriptionColumn from "@features/description/AppDescriptionColumn.vue";
import {http} from "../app/utils/http";


let load = false
const about = await http({url: '/api/pages/about'})
load = true
---

<Layout title={about.title}>
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: about.title}]}/>
                        <h1 class="text-36">{about.title}</h1>
                    </div>
                    <AppDescriptionColumn class="mb-30" description={about.description}/>
                    <TheGallery data={about.gallery} client:load/>
                </div>
            </section>
            <TheTeam data={about.team} client:load/>
            <TheReviews data={about.reviews} client:load/>
            <SocialsBlock data={about.social} client:load/>
            <TheSeo data={about.seo} client:load/>
    )}
</Layout>
