---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheContacts from "@widgets/contacts/TheContacts.vue";
import AppMap from "@features/map/AppMap.vue";
import TheSeo from "@widgets/seo/TheSeo.vue";
import {http} from "../app/utils/http";

let load = false
const contact = await http({url: '/api/pages/contact'})
load = true
---

<Layout title={contact.title}>
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: contact.title}]}/>
                        <h1 class="text-36">{contact.title}</h1>
                    </div>
                    <TheContacts requisite={contact.requisite} class="mb-100" page="contacts" client:load/>
                    <AppMap class="map_contacts" client:only/>
                </div>
            </section>
            <TheSeo data={contact.seo} client:load/>
    )}
</Layout>
