---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheContacts from "@widgets/contacts/TheContacts.vue";
import MapDelivery from "@features/map/MapDelivery.vue";
import TheSeo from "@widgets/seo/TheSeo.vue";
import {http} from "../app/utils/http";

let load = false
const delivery = await http({url: '/api/pages/delivery'})
load = true
---

<Layout title={delivery.title}>
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: delivery.title}]}/>
                        <h1 class="text-36">{delivery.title}</h1>
                    </div>
                    <TheContacts requisite={delivery.requisite} delivery={delivery.delivery} payment={delivery.payment} class="mb-50" page="delivery" client:load/>
                    <MapDelivery label="Карта доставки" client:load/>
                </div>
            </section>
            <TheSeo data={delivery.seo} client:load/>
    )}
</Layout>
