---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheReviewsForm from "@widgets/reviews/TheReviewsForm.vue";
import TheReviewsList from "@widgets/reviews/TheReviewsList.vue";
import TheSeo from "@widgets/seo/TheSeo.vue";
import {http} from "../app/utils/http";

let load = false
const review = await http({url: '/api/pages/review'})
load = true
---

<Layout title={review.title}>
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: review.title}]}/>
                        <h1 class="text-36">{review.title}}</h1>
                    </div>
                    <div class="content-flex">
                        <TheReviewsForm client:load/>
                        <TheReviewsList data={review.list} client:load/>
                    </div>
                </div>
            </section>
            <TheSeo data={review.seo} client:load/>
    )}
</Layout>
