---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheSuccessfully from "@widgets/successfully/TheSuccessfully.vue";
import TheSuccessfullyOrder from "@widgets/successfully/TheSuccessfullyOrder.vue";
import NewsBlock from '@progresses/NewsBlock.vue'
import AppDescriptionColumn from "@features/description/AppDescriptionColumn.vue"
import {http} from "../app/utils/http";
import {orderSuccessfully} from "../app/store/orders";

let load = false
const description = {
    title: 'Мы уже спешим приготовить ваш заказ!',
    description: '<p>Подробности заказа мы продублировали на вашу почту. Если письмо не пришло, проверьте, пожалуйста, спам.\n\ Рекомендуем пометить письмо как не спам, для своевременного получения уведомления о новостях и скидках.</p><p>Если у вас возникли какие‑то вопросы или вы не правильно указали свои данные, то позвоните администратору по номеру +7 395 223 40 40</p>',
}
const PERCENT = 1
const successfully = await http({url: '/api/pages/successfully'})
const result = await orderSuccessfully(Astro.url.searchParams.get('id'))
if (!result) return Astro.redirect('/404');

const order = result.products || []
const status = result.state
const length = order.reduce((amount, item) => amount + +item.amount, 0)
load = true
---

<Layout title="Ваш заказ принят">
    {load && (
            <section class="mb-50">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: 'Информация о заказе'}]}/>
                        <h1 class="text-36">Ваш заказ №32309 принят</h1>
                    </div>
                    <TheSuccessfully class="mb-30" status={status} client:only/>
                    <AppDescriptionColumn description={description.description} title={description.title} client:only/>
                </div>
            </section>
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <h4>Состав заказа / {length} шт.</h4>
                    </div>
                    <TheSuccessfullyOrder percent={PERCENT} data={order} client:only/>
                </div>
            </section>
            <NewsBlock data={successfully.news} client:load/>
    )}
</Layout>
