---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheSuccessfully from "@widgets/successfully/TheSuccessfully.vue";
import TheSuccessfullyOrder from "@widgets/successfully/TheSuccessfullyOrder.vue";
import TheNews from "@widgets/news/TheNews.vue";
import AppDescriptionColumn from "@features/description/AppDescriptionColumn.vue"

const description = {
    title: 'Мы уже спешим приготовить ваш заказ!',
    description: '<p>Подробности заказа мы продублировали на вашу почту. Если письмо не пришло, проверьте, пожалуйста, спам.\n\ Рекомендуем пометить письмо как не спам, для своевременного получения уведомления о новостях и скидках.</p><p>Если у вас возникли какие‑то вопросы или вы не правильно указали свои данные, то позвоните администратору по номеру +7 395 223 40 40</p>',
}
const NEWS = [
    {
        id: '1',
        name: 'Скидка на первый заказ',
        description: 'Делай первый заказ и экономь',
        img: '/img/news/1.jpg',
    },
    {
        id: '2',
        name: 'Новое меню',
        description: 'Запустили новое меню и приглашаем\n' +
            'вас отведать его первыми',
        img: '/img/news/2.jpg',
    },
    {
        id: '3',
        name: 'Две пиццы по цене одной',
        description: 'Специальное предложение для любителей пиццы',
        img: '/img/news/3.jpg',
    }
]
const PERCENT = 1
const ORDER = [
    {
        id: '1',
        name: 'Корейский ',
        category: '1',
        status: [1],
        description: 'Мини-кукуруза, лук, морковь, капуста…',
        price: 159,
        oldPrice: 259,
        weight: '140 гр.',
        img: '/img/products/1.jpg',
        amount: 3
    },
    {
        id: '2',
        name: 'Бургер',
        category: '1',
        status: [1, 2],
        description: 'Котлета говяжья, салат, помидор, сыр, соус…',
        price: '259',
        weight: '140 гр.',
        img: '/img/products/2.jpg',
        amount: 1
    },
    {
        id: '3',
        name: 'Мисо-суп',
        category: '1',
        status: [1, 2],
        description: 'Суп с сёмгой, луком, морковью, картофелем и…',
        price: 159,
        oldPrice: 259,
        weight: '140 гр.',
        img: '/img/products/3.jpg',
        amount: 1
    },
    {
        id: '4',
        name: 'Рыбные палочки',
        category: '1',
        status: [1],
        description: 'Рыбные палочки, панировка, морковь, лук…',
        price: 159,
        weight: '140 гр.',
        img: '/img/products/4.jpg',
        amount: 1
    },
    {
        id: '5',
        name: 'Wok',
        category: '1',
        status: [1],
        description: 'Пшеничная лапша, курица, шампиньоны, перец…',
        price: 159,
        oldPrice: 259,
        weight: '140 гр.',
        img: '/img/products/5.jpg',
        amount: 1
    },
    {
        id: '6',
        name: 'Рис с курицей',
        category: '1',
        status: [1, 2],
        description: 'Рис, курица, лук, петрушка, соус терияки…',
        price: 159,
        weight: '140 гр.',
        img: '/img/products/6.jpg',
        amount: 1
    },
    {
        id: '7',
        name: 'Мисо-суп',
        category: '1',
        status: [1, 2],
        description: 'Суп с сёмгой, луком, морковью, картофелем и…',
        price: 159,
        oldPrice: 259,
        weight: '140 гр.',
        img: '/img/products/7.jpg',
        amount: 1
    }
]
const length = ORDER.reduce((amount, item) => amount + +item.amount , 0)
---

<Layout>
    <section class="mb-50">
        <div class="container">
            <div class="page-header">
                <AppBreadcrumb list={[{label: 'Информация о заказе'}]}/>
                <h1 class="text-36">Ваш заказ №32309 принят</h1>
            </div>
            <TheSuccessfully class="mb-30" client:only/>
            <AppDescriptionColumn data={description} client:only/>
        </div>
    </section>
    <section class="mb-100">
        <div class="container">
            <div class="page-header">
                <h4>Состав заказа / {length} шт.</h4>
            </div>
            <TheSuccessfullyOrder percent={PERCENT} data={ORDER} client:only />
        </div>
    </section>
    <section class="mb-100">
        <div class="container">
            <div class="page-header">
                <h2>Новости и акции</h2>
            </div>
            <TheNews data={NEWS} client:only/>
        </div>
    </section>
</Layout>
