---
import Layout from '@progresses/Layout.astro';
import AppBreadcrumb from '@features/breadcrumb/AppBreadcrumb.vue'
import TheSeo from "@widgets/seo/TheSeo.vue";
import TheCatalog from "@widgets/catalog/TheCatalog.vue";
import {http} from "../../app/utils/http";

let load = false
const catalog = await http({url: '/api/pages/catalog'})
load = true
---

<Layout title={catalog.title}>
    {load && (
            <section class="mb-100">
                <div class="container">
                    <div class="page-header">
                        <AppBreadcrumb list={[{label: catalog.title}]}/>
                        <h1 class="text-36">{catalog.title}</h1>
                    </div>
                    <TheCatalog catalog={catalog.list} declaration={catalog.declaration} client:load/>
                </div>
            </section>
            <TheSeo data={catalog.seo} client:load/>
    )}
</Layout>
